.front {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-link {
  color: #61dafb;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 15px;
  margin: 45px;
  /* margin-top: 30px; */
  font-size: larger;
  padding: 15px;
  outline: 2px solid peachpuff; 
  /* background-color: sandybrown; */
  /* color: white */
}

.card:hover {
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
}

button{
  background-color: lavender;
  border-radius: 10px;
  border: 2px solid purple;
  padding: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

/* button:hover{
  background-color: peachpuff;
  border-radius: 10px;
  border: 1px solid peachpuff;
  padding: 10px;
  color: black;
} */

input{
  background-color: rgb(250, 248, 246);
  text-align: center;
  border: 2px solid goldenrod;
  border-radius: 5px;
  padding: 0.5%;
}

input:hover{
  text-align: center;
  border: 2px solid navy;
  border-radius: 5px;
  padding: 0.5%;
}

.nav{
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.link{
  text-decoration: none;
  color: black;
}

.social{
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
  padding: 5px;
  margin: 10px;
  border-radius: 100px;
}

/* .social:hover{
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
  padding: 5px;
  margin: 10px;
  border: 2px solid navy;
  border-radius: 100px;
} */